@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.c1 {
  margin: 1rem 0px;
  padding: 8px 20px;
}

@media screen and (min-width:1024px) {
  .kartu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: fixed;
    bottom: 104vh;
    left: 75vw;
    width: 200px;
    background-color: rgb(36, 36, 36);
  }
}

.kartu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
  /* bottom: 104vh; */
  /* left: 75vw; */
  width: 200px;
  background-color: rgb(36, 36, 36);
}

.kartu:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.adminButton {
  height: 32px;
  width: 32px;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 1px solid white;
}
.teksAdmin {
  display: none;
  width: 100px;
}
.adminButton:hover {
  transform: scale(1.1);
  background-color: rgb(80, 80, 80);
}
.adminButton:hover > .teksAdmin{
  position: absolute;
  display: block;
  color: white;
  right: 16px;
}



.titik {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}

.kartu .titik {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 25px;
}

.c1 .adminButton {
  position: fixed;
  top: 10px;
  right: 1vw;
}

.kontainer {
  padding: 2px 16px;
}

img {
  border-radius: 5px 5px 0 0;
}

.userr {
  color: white;
}

.zxc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  flex-shrink: 0;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card .pillLikes {
  position: absolute;
  top: 60px;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 25px;
  cursor: pointer;
}

.pillLikes:hover,
.pillRating:hover,
.titik:hover {
  transform: scale(1.1);
  background-color: rgb(208, 208, 208);
}

.card .pillRating {
  position: absolute;
  top: 60px;
  left: 1px;
  font-weight: bold;
  text-align: right;
  font-size: 25px;
  cursor: pointer;
}

.pillBadge {
  display: inline-block;
}

.cPill {
  display: inline-flex;
}

.cPill2 {
  width: 10%;
  height: 10%;
}

.ccTitle {
  text-align: center;
  /* background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.home,
.login,
.user {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}

.split {
  height: 80%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 2;
  overflow-x: hidden;
  padding-top: 20px;
}

.kiri {
  left: 0;
  padding: 32px;
  /* background-color: #111; */
}

.kanan {
  right: 0;
  padding: 32px;
  /* background-color: red; */
}

.dalemKanan {
  height: 59%;
  overflow-y: scroll;
}

.kartu2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.kartDesc {
  color: grey;
  font-size: 18px;
}

.row {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.row .col {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Add a grey background color */
  padding: 12px; /* Add some padding */
  width: 100%;
}