@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

.c1 {
  margin: 32px 0px;
}

.zxc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  flex-shrink: 0;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card .oPill2 {
  position: absolute;
  top: 60px;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 25px;
}

.card .oPill {
  position: absolute;
  top: 60px;
  left: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 25px;
}

.pillBadge {
  display: inline-block;
}

.cPill {
  display: inline-flex;
  margin-right: 5px;
}

.ccTitle {
  text-align: center;
  /* background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43); */
}


