@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.c1 {
  margin: 32px 0px;
}

.userr {
  position: relative;
  background-color: red;
  width: 120px;
}

.zxc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  flex-shrink: 0;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card .pillLikes {
  position: absolute;
  top: 60px;
  right: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 25px;
}

.card .pillRating {
  position: absolute;
  top: 60px;
  left: 1px;
  font-weight: bold;
  text-align: right;
  font-size: 25px;
}

.pillBadge {
  display: inline-block;
}

.cPill {
  display: inline-flex;
}

.ccTitle {
  text-align: center;
  /* background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.home, .login, .user {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

